:root {
    --clr-bg: #599191;
    --clr-light: white;
    --clr-dark: black;
    --clr-orange: orange;
}

.contact {
    text-align: center;
    background-color: var(--clr-orange);
    height: 25vh;
    margin-top: 70px;
    position: relative;
    margin-right: 100px;
    margin-left: 100px;
    top: 100px;
    border-radius: 20px;
}

.contact h2 {
    font-size: 2rem;
    padding-top: 40px;
    color: var(--clr-light);
}

.contact input {
    border-radius: 20px;
    width: 15%;
    padding: 10px;
    margin-top: 20px;
    color: var(--clr-dark);
}

.btn-5 {
    background-color: var(--clr-bg);
    color: var(--clr-light);
    padding: 10px;
    margin-left: 30px;
    width: 10%;
    border-radius: 20px;
    margin-top: 20px;
}
.btn-5:hover {
    color: var(--clr-bg);
    background-color: inherit;
    border: 1px solid var(--clr-bg);
}

@media screen and (max-width: 986px) {
    .btn-5 {
        width: 25%;
        font-size: .7rem;
        margin-left: 10px;
        padding: 11px;
        border-radius: 10px;

    }

    .contact input {
        width: 25%;
        padding: 5px;
        border-radius: 10px;
    }

    .contact {
        margin-left: 20px;
        margin-right: 20px;
    }
}