:root {
    --clr-bg: #599191;
    --clr-light: white;
    --clr-dark: black;
    --clr-orange: orange;
}

* {
    box-sizing: border-box;
}

.column-footer {
    float: left;
    width: 25%;
    padding: 25px;
    padding-top: 120px;
    color: var(--clr-light);
    border-right: none;
}
.column-footer p {
    color: var(--clr-light);
}


.row-footer:after {
    content: "";
    display: table;
    clear: both;
    border-right: none;
}

.fixed_footer {
    background-color: var(--clr-bg);
    color: var(--clr-light);
}

@media screen and (max-width: 986px) {
    .column-footer {
        width: 100%;
        padding: 20px;
        padding-top: 120px;

    }
}