:root {
  --clr-bg: #599191;
  --clr-light: white;
  --clr-dark: rgb(1, 51, 97);
  --clr-orange: #e8a87c;

}

.sidebar {
  margin: 0;
  padding: 0;
  width: 5%;
  background-color: var(--clr-bg);
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 5;
}
.sidebar .logo {
  text-align: center;
  padding-top: 10px;
}

.sidebar a {
  display: block;
  color: var(--clr-light);
  padding: 16px;
  text-decoration: none;
  padding-left: 35%
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  color: var(--clr-orange);
}
.hide {
  display: none;
}


.sidebar a:hover + .hide {
  display: block;
  text-align: center;
  color: var(--clr-orange);

}


div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}